<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>972144799000-11oqrdr3npv4g5pad1hk95dmr8bh03cr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.972144799000-11oqrdr3npv4g5pad1hk95dmr8bh03cr</string>
	<key>API_KEY</key>
	<string>AIzaSyChhurRN8YklvYTlSz19ncVz8yxJzZfwa8</string>
	<key>GCM_SENDER_ID</key>
	<string>972144799000</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shaderbytes.ybm</string>
	<key>PROJECT_ID</key>
	<string>ybm-2-c7f94</string>
	<key>STORAGE_BUCKET</key>
	<string>ybm-2-c7f94.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:972144799000:ios:b7a44e42f1568247c1826d</string>
</dict>
</plist>